.MainDetailsCont{
    color: rgb(237, 246, 253) !important;
    margin-top: 30px;
}

.movieDetails{
    display: flex;
    flex-wrap: no-wrap;
}

.movieDetails img{
    border-radius: 15px;

}

.movieDetails .movContent{
    margin-left: 100px; 
    margin-top: 10px;
} 

.movieDetails .movContent h1{
    margin-bottom: 15px;
    color:rgb(237, 246, 253);

}

.movName{

    color: #8893DA;
}
.movieDetails .movContent hr{
   color: #8893DA;
}

.movieDetails .movContent h5{
    padding: 10px 0;
    font-style: italic;
    font-weight: 400;

}

.movData{
    display: flex;
    justify-content: space-between;
}
.movData div:last-child
{
    padding: 0 77px;
    border-left: 1px solid;
}

.movData div:first-child
{
    padding-right:77px;

}

.movData div h5{
    font-size: 17px;
    font-weight: 300;
}

.movData div h5 span{
    font-weight: 500;
    color: #8893DA;
}


.Discription{
    margin-top: 30px;
}

.Discription p{
    margin: 20px 0 ;
}



.buttons{
    text-align: center;

}

.button {
    border: 1px solid #95a1f1;
    color: #95a1f1;
    padding: 4px 15px;
    border-radius: 9px;
    background: transparent;
    transition: 0.4s;
    margin: 0 30px;

}

.button:hover{
    background-color: #95a1f1;
    color: #fff;
}

.button a{
        all: unset;
}



@media only screen and (max-width:700px){
    .movieDetails .movContent{
        margin-left: 0px; 
    } 

    .movieDetails{
     justify-content: center;
     flex-direction: column;
     
    }
    .movData{
        display: flex;
        justify-content: space-between;
    }

    .movieDetails img{
        align-self: center;
    }
    .movData div h5{
        font-size: 15px;
    }


}